# ==========================
# Python
# ==========================

__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/

# Environment Variables
.env
.env.*

# SQLite
*.db

# Logs
*.log

# ==========================
# Node
# ==========================

node_modules/

dist/

# npm
npm-debug.log*

# ==========================
# IDE
# ==========================

.vscode/
.idea/

# ==========================
# OS
# ==========================

.DS_Store
Thumbs.db

# ==========================
# Testing
# ==========================

.pytest_cache/

# ==========================
# Coverage
# ==========================

coverage/

# ==========================
# Misc
# ==========================

*.swp

# ==========================
# Docker
# ==========================

postgres_data/

# ==========================
# Alembic
# ==========================

*.sqlite3

# ==========================
# Python Cache
# ==========================

**/__pycache__/